block content 
    article
  h2 Article 4: Pet Care Directives

  h3 4.1 Identification
  p All references to "My Pets" in this Will pertain to the animals listed below, as well as any other pets or domestic animals I may have at the time of my death. As of the date of this Will, My Pets are:
  ul
    each pet, index in pets
      li #{pet.name}, of the #{pet.animalCategory} animal category. #{pet.details}

  h3 4.2 Pet Guardian
  p If any of My Pets are alive at the time of my death, I appoint #{petGuardian.name}, as the Pet Caregiver to care for My Pets and to follow the instructions outlined in Sub-article 4.3 of this Article. If the named Pet Caregiver is unable or unwilling to fulfill this role, my Executor shall choose an appropriate alternate Pet Caregiver.
  ul
    li #{petGuardian.phone} Pet Guardian Phone Number: #{petGuardian.phone}
    li #{petGuardian.email} Pet Guardian Email Address: #{petGuardian.email}

  h3 4.3 Pet Care Instructions
  p I entrust My Pets to the Pet Caregiver and instruct them to treat My Pets as companion animals. This includes ensuring they have a suitable home and receive proper diet, exercise, training, and veterinary care.

article
  h2 Article 5: Payment of Remaining Expenses and Taxes
  p I instruct that all my debts, as well as the expenses related to my last illness, funeral, and burial, be paid promptly after my death as is reasonably feasible. I grant my Personal Representative, as appointed herein, the authority to settle and discharge any claims against my estate at their sole discretion, with these obligations taking priority.
